* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    text-align: justify;
    font-family: Montserrat, sans-serif;
    font-size: 1rem;
    line-height: 1.6;
    background: linear-gradient(to bottom right, #fbf6f0, #f5e1cb);
}

header {
    background-color: #192A56;
    color: #FAF9F6;
    padding: 20px;
}

h1 {
    text-align: center;
}

h1, h3, h4 {
    font-family: 'Oswald', sans-serif;
    text-transform: uppercase;
}

/* FŐOLDAL */
#bevezetes {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding-top: 20px;
    border-top: 1px solid rgba(255, 255, 255, 0.5);
    gap: 25px;
}

.box {
    display: flex;
    align-items: center;
    gap: 10px;
}

.box_header a {
    text-decoration: none;
    font-family: 'Oswald', sans-serif;
    font-weight: bold;
    font-size: 1.6rem;
    color: #FAF9F6;
    transition: color 0.3s ease;
    font-weight: 700;
}

.box_header a:hover {
    color: #FF7A00;
}

.ikon {
    height: 4em;
    width: auto;
    filter: invert(100%);
    opacity: 0.4;
    transition: opacity 0.3s ease;
}

.box:hover .ikon {
    opacity: 1;
}

main {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    justify-content: space-around;
    padding: 40px 20px;
}

.kartyak {
    width: calc(50% - 15px); 
    height: 350px; 
    box-shadow: 0 15px 30px rgba(0, 0, 0, 0.25);
    border-radius: 15px;
}

.bevezeto {
    width: 100%;
    height: 100%;
    position: relative;
}

.front, .back {
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 15px;
    padding: 20px;
}

.front {
    background-color: #192A56;
    color: #FAF9F6;
    display: flex;
    flex-direction: column;
    opacity: 1;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.front h3 {
    color: #F2F2F2;
    font-size: 1.8rem;
    margin-top: 15px;
    text-transform: uppercase;
}

.front .tema_ikon {
    filter: invert(100%);
    height: 4em;
    width: auto;
    display: block;
}

.back { 
    display: none;
    opacity: 0;
    background-color: #FAF9F6;
    justify-content: center;
    align-items: center; 
    text-align: justify;
    line-height: 1.4;
}

.kartyak.active .front {
    opacity: 0;
    display: none;
}

.kartyak.active .back {
    opacity: 1;
    display: flex;
    flex-direction: column;
}

.back p, .back ul {
    font-size: 1rem;
    line-height: 1.3;
    margin-bottom: 5px;
    justify-content: center;
    align-items: center; 
    text-align: justify;
}

.back ul {
    list-style: none;
    padding-left: 0;
    margin: 15px 0;
}

.bevezeto ul li {
    padding-left: 25px;
    margin-bottom: 8px;
}

.bevezeto strong {
    color: #192A56; 
    font-weight: 700;
}

.bevezeto h3 {
    margin: 0;
    padding: 0;
    text-align: center;
    font-weight: bold;
}

footer {
    background-color: #192A56;
    color: #FAF9F6;
    text-align: center;
    font-size: 0.7rem;
    padding: 5px;
}

/* FŐBB LÁTNIVALÓK */
.latnivalok {
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.latnivalo {
    display: flex;
    flex-direction: row;
    gap: 20px;
    width: 100%;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
}

.latnivalo:nth-child(even) {
    flex-direction: row-reverse;
}

.latnivalo_kep {
    width: 50%;
    height: auto; 
    object-fit: cover;
    border-radius: 15px;
    align-self: center;
}

.latnivalo .szoveg {
    width: 50%;
    text-align: justify;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
}

.szoveg h3 {
    background-color: #192A56;
    color: #FAF9F6;
    border-radius: 15px;
    text-align: center;
}

/* GASZTRONÓMIA */
.gasztronomia {
    padding: 20px;
}

#hires_etelek {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}

#hires_etelek h3, #konyha_jellemzok h3 {
    width: 100%;
    margin-bottom: 5px;
    text-align: center;
    background-color: #192A56;
    border-radius: 15px;
    color: #FAF9F6;
}

#hires_etelek .etel_kartya {
    display: flex;
    flex-direction: column;
    width: calc(50% - 15px);
    padding: 15px;
    background-color: #f4e8d8;
    justify-content: center;
    align-items: center; 
    text-align: justify;
    border-radius: 15px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
    gap: 10px;
}

#hires_etelek .etel_fejlec {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.etel_kep {
    height: 4em;
    width: auto;
    padding: 10px;
}

.jellemzo_kartya ul {
    list-style: none;
}

#konyha_jellemzok .jellemzo_kartya {
    padding: 15px;
    background-color: #f4e8d8;
    border-radius: 15px;
    width: calc(50% - 15px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
}

#konyha_jellemzok {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    align-items: stretch; 
    text-align: justify;
    margin-bottom: 20px;
}

.jellemzo_kartya h4 {
    text-align: center;
}

/* UTAZÁSI TIPPEK */
#utazas {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;

}

.tippek {
    flex-direction: column;
    width: calc(50% - 15px);
    background-color: #f4e8d8;
    border-radius: 15px;
    text-align: justify;
    padding: 30px;
    justify-content: center;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
}

.tippek h3 {
    text-align: center;
    padding: 15px;
}

.tippek p {
    text-align: center;
    font-weight: 700;
    padding: 10px;
}

.tipp_fejlec {
    display: flex;
    flex-direction: row;
    justify-content: center;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
}

.utazas_ikon {
    fill: #192A56;
    height: 4em;
    width: auto;   
}

/* KVÍZ */
.kerdes {
    padding: 10px;
    line-height: 1.8;
}

.kerdes p {
    font-weight: 600;
}

.kviz_gomb, .kapcsolat_gomb {
    background-color: #192A56;
    color: #FAF9F6;
    font-size: 1.2rem;   
    font-weight: bold;
    border-radius: 10px;
    border: none; 
    padding: 15px 30px;
    margin: 10px;
    cursor: pointer;
    box-shadow: 0 4px 6px rgba(0,0,0,0.2);
}

.kviz_gomb:hover {
    background-color: #FAF9F6;
    color: #192A56;
}

/* KAPCSOLAT */
#kapcsolat form, #velemeny form {
    display: grid;
    gap: 15px;
}

#kapcsolat label, #velemeny label {
    font-weight: bold;
    display: flex;
    margin-bottom: 5px;
    color: #192A56;
}

label[for="feliratkozas"] {
    display: flex;
    gap: 10px;  
    align-items: center;
}

textarea {
    width: 100%;
    min-height: 100px;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    resize: vertical;
    font-size: 1em;
}

textarea:focus {
    border-color: #007bff;
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
    outline: none;
}

.kapcsolat_gomb:hover {
    background-color: #FAF9F6;
    color: #192A56;
}

#kapcsolat, #velemeny {
    flex: 1;
    background-color: #f7f7f7;
    padding: 25px;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

#kapcsolat input:not([type="checkbox"]), #velemeny input:not([type="checkbox"]) {
    width: 100%;
    padding: 15px; 
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    background-color: white;
    font-size: 1em;
}

input[type="checkbox"] {
    width: 25px;
    height: 25px;
    cursor: pointer;
    vertical-align: middle;
}

main #velemeny {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.error-msg {
    color: red;
    font-size: 0.9rem;
    margin-top: 5px;
}

@media (min-width: 40em) {
    main {
        flex-wrap: wrap;
        justify-content: space-between;
        gap: 20px;
        padding: 30px;
    }

    #kapcsolat, #velemeny {
        padding: 20px;
    }

    #bevezetes {
        flex-wrap: wrap;
        justify-content: space-around;
        gap: 20px;
    }

    .kartyak, #hires_etelek .etel_kartya, #konyha_jellemzok .jellemzo_kartya, .tippek {
        min-width: 300px;
    }
}

@media (min-width: 60em) {
    main {
        padding: 60px 80px;
        gap: 30px;
    }

    #kapcsolat, #velemeny {
        padding: 30px;
    }

    #bevezetes {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: space-between;
        gap: 20px;
        padding-top: 20px;
    }

    .kartyak {
        height: 400px;
    }
}